body {
	margin: 0;
}

#main {
	width: 100%;
	height: 100%;
	position:absolute;
}

/* The div the game exists inside */
#game{
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	overflow: hidden;
}

#game-field{
	position: relative;
	left: 0px;
	width: auto;
	height: 100%;
	margin-right: 255px;
	overflow: auto;
}

#centerfield{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	min-width: 520px;
	margin-top: -340px;
	margin-bottom: -340px;
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 255px;
	height: 100%;
	background:gray;
	border: 1px solid #444444;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	overflow-x: hidden;
	overflow-y: auto;
}

/* A location to inspect the cards in detail*/
#inspector {
	width: 225px;
	height:315px;
	background: black; 
	font-size: .9em;
	position: relative;
	float: left;
	margin: 15px;
	box-sizing:border-box;
	border: 1px solid #444444;
	background-image: url("../img/0.png");
	background-size: 100% 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#textArea{
	margin-left: 8px;
	margin-right: 8px;
}

#sidebar-bottom {
	height: auto;
	width: 100%;
}

#end-turn {
	position: relative;
	left: 50%;
	transform:translateX(-50%);
}

.zonerow{
	min-width: 520px;
}

.zone-container{
	position: relative;
	min-width: 520px;
	width: 100%;
	height: 105px;
	float: left;
	margin: 5px -95px 5px -95px;
}

.character-zone{
	position: relative;
	width: 340px;
	height: 115px;
	margin: 0px auto;
}

.resourcezone{
	position: relative;
	width: auto;
	height: 105px;
	left: 95px;
	margin-right: 190px;
	box-sizing: border-box;
	border: 1px solid darkgray;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.specialzone{
	position: relative;
	float: left;
	width: 75px;
	height: 105px;
	border: 1px solid darkgray;
	margin: 5px 10px 5px 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* A card */
.card {
	width: 75px;
	height:105px;
	font-size: .9em;
	position: relative;
	top: -1px;
	left: -1px;
	float: left;
	box-sizing:border-box;
	border: 1px solid darkgray;
	background-image: url("../img/0.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.inslot {
	position: absolute !important;
}

/* A board slot for a card */
.cardslot {
	position: relative;
	width: 75px;
	height:105px;
	float: left;
	margin: 0px 5px 0px 5px;
	box-sizing:border-box;
	border: 1px solid darkgray;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.outer-row{
	height: 50%;
	margin-top: -115px;
	margin-bottom: -115px;
}

/* A player's hand */
.game-hand {
	height: 105px;
	width: auto;
	display: block;
	position: relative;
	margin: 0px auto 0px auto;
}

.selected-card{
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

/* MOVE! SCHNELL! */
.handbuffer{
	position: relative;
	width: 100%;
	height: 5px;
	float: left;
}

table{
	font-size: small;
	border-spacing: 0px;
	border-collapse: collapse;
}

th{
	text-align: left;
	height: 22px;
}

td{
	height: 22px;
}